:root{
    --primary-text-color: #757575; 
    --title-text-color:#212121;
    --accent-color: #212121;
    --active-link-color:#2196F3;
    --primary-bg-color: #fffffF;
    --bg-color:#2F303A;
    --button-bg-color:#F5F4FA;
    --icon-fill-color:#AFB1B8;
    --card-set-gap: 30px;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body{
    
    
   color: var(--primary-text-color);
   background-color: var(--primary-bg-color);
   font-family: Roboto, sans-serif;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em
   
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
 } 
 /* стили навигации */
 header{
    border-bottom: 1px solid #ECECEC;
    
    
 }
 /* container */
.container{
   
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
.nav{
    display: flex;
}
 .main-nav{
    display: flex;
    
 }
 


 /* логотип */
 .logo{
    
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: raleway, sans-serif;
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    
    
 }
 .logo:hover,
 .logo:focus{
    color: var(--active-link-color);
 }
 .web{ 
    color: var(--active-link-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
 }
 
 
 
 .site-nav{
    display: flex;
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0;
    padding-left: 0;
   
 }
 
 .site-nav.active{
    color: var(--active-link-color);
    }
    .site-nav .site-nav{
        padding-top: 32px;
        padding-bottom: 32px;
    }
 .site-nav .item:not(:last-child){
    margin-right: 50px;
    
 }
 
 
.site-nav:hover,
.site-nav:focus{
    color:var(--active-link-color);
}
/* connection */
.connection{ 
    
   display: flex;
   align-items: center;
   padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; 
   margin-right: 0;
   margin-left: auto;
   font-weight: 500;
}

.mail{
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color);
    
  
}
.mail::before{
    content: "";
    width: 16px;
    height: 12px;
    
    margin-right: 10px;
    display: inline-block;
   background-image: url("../img/envelope\ \(hover\).png");
}
.icon-phone{
    color: #212121;
}
.phone::before{
    content: "";
    display: inline-block;
    
    width: 10px;
    height: 16px;
    color: var(--primary-text-color);
    margin-right: 10px;
    background-image: url("../img/Vector\ \(1\).svg");
    fill: #757575;
   
}
.phone::before:hover{
 fill:#757575;
}
.mail:hover, .mail:focus{
    color:var(--active-link-color);
}
.mail.active{
    color: var(--active-link-color);
    text-decoration: none;
   
}
.phone{
    padding-top: 32px;
   padding-bottom: 32px;
    
    margin-top: 0;
    margin-bottom: 0;  
    margin-left: 50px;  
    color: var(--primary-text-color);
    text-decoration: none;
}

.phone:hover, 
.phone:focus{
    color:var(--active-link-color);
}

.connection:hover,
.connection:focus{
    color:var(--active-link-color);
   
}

/* hero */
.hero{
   
   background-image:url(../img/Img\ Overlay.png), url(../img/Img.jpg);
   background-repeat: no-repeat;
    background-color: var(--bg-color);
    padding: 200px 0;
   background-size: cover;
    background-position: 50% 50%;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
 }
 .h{
    width: 1200px;
    text-align: center;
    padding: 0;
 }
.hero-title{
    width: 696px;
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    margin-top: 0;  
    margin-bottom: 30px;  
    margin-left: auto;
    margin-right: auto;
    
}





/* Button */

.button{
    font-family: Roboto, sans-serif;
    color: var(--primary-bg-color);
    background-color: var(--active-link-color) ;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border: none;
    min-width: 73px;
    
}

.button.order{
    padding: 10px 32px;
    min-width: 216px;
    border-radius: 4px;
}

.button:hover,
.button:focus{
    color:var(--accent-color);
    background-color: var(--active-link-color);
}
/* class="benefits" */

.benefits-m{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
   
}
.benefits-m .item{
 width: 270px;
 
}
.benefits-m .item:not(:last-child){
    margin-right: 30px;
}

.benefits-m .item::before{
    display: block;
    content: "";
    height: 120px;
    background-color: var(--button-bg-color);
    background-repeat: no-repeat;
    background-position: center; 
    
}

 
.icon-antena::before{
    background-image: url("../img/Group\ \(1\).svg");
   
}
.icon-clock::before{
    background-image:url("../img/clock\ 1\ \(1\).svg") ;
}
.icon-pc::before{
    background-image: url("../img/diagram\ 1\ \(1\).svg");
}
.icon-cosmo::before{
    background-image: url("../img/astronaut\ 1\ \(1\).svg");
}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin: 0;
    margin-bottom: 10px;

}
.text{
    margin: 0;
}

/* section */
section{
    
   
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-ow{
    padding-top: 0;
}
/* Чим ми займаємось */


.work.list{
   
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
   text-align: center;
    letter-spacing: 0.03em;
   
   margin: 0;
   margin-bottom: 50px;
    color: var(--title-text-color);
}
.what.we.work{
   
  list-style: none;
  display: flex;
  gap: var(--card-set-gap);
  margin-bottom: 0;
}



/* team*/
.work{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
   
   margin: 0;
   margin-bottom: 50px;
    color: var(--title-text-color);
}
.section-t{
    background-color: var(--button-bg-color);
    padding: 94px 0;
}
.team{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border-radius: 4px;
  
    
    
}
.team .item{
    width: 270px;
    margin-right: 30px;
    border: 1px solid#ECECEC;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}   
.team .item:nth-child(4n){
    margin-right: 0;
}

.card-comand{
    padding: 30px 0;

}
.comand{
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--title-text-color);
    font-weight: 500;
    text-align: center;
}
.action{
    display: flex;
    padding: 0 32px;
    margin-bottom: 0;
    border: none;
}
svg{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
   .button-icon{
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
   
    
   } 

   .button-icon-active{
    
    background-color: var(--active-link-color);
    border: none;
    border-radius: 50%;
    
    width: 44px;
    height: 44px;
   }
   
   .instagram{
    color: var(--primary-bg-color);
   }
   .twitter{
    fill: var(--icon-fill-color);
   }
   .icon-social{
    margin-left: 10px;
   }
   
   .icon-social:nth-child(1){
    margin-left: 0;
   }
    
.card-text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    font-weight: 400;
}

.clients{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.client-icon{
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
}
.client-item{
    margin-left: 30px;
}
.client-item:nth-child(1){
margin-left: 0;
}
/* footer */

footer{
    display: flex;
    margin-bottom: 0;
    margin: 0px  ;
    padding: 60px 0;
    background-color: var(--bg-color);
    color: var(--primary-bg-color);
   
    
}

.footer.logo{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
.f{
    padding-left: 0px;
    margin: 0;
}
.f .item{
    margin-bottom: 9px;
}
.f .item:last-child{
    margin-bottom: 0;
}
.address{
    
    text-decoration: none;
    font-style: normal;
    color:var(--primary-bg-color)
    


}

.footer-mail,
.footer-phone{
    font-style: normal;
    color: var(--primary-text-color);
    
    text-decoration: none;
   
    
}
.address:hover,
.address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus{
    color:var(--active-link-color);
    
}
.ff{
    display: flex;
}
.link-footer{
    display: flex;
    margin-left: 70px;
}
.union{
    padding-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 70px;
}

.button-icon-footer{
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;

}
.button-icon-footer-if{
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-position: center;
    background-color: var(--active-link-color) ;
}
/* portfolio */

.studio{
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.studio:hover{
color:var(--active-link-color);
}


.our-work{
    display: flex;
    justify-content: center;
    min-width: 73px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    border-radius: 4px;
   
   

    
}

.our-work .item + .item{
    margin-left: 8px;
}
.button.port.active{
    background-color: var(--active-link-color);
    color: var(--primary-bg-color) ;
    padding: 6px 25px;
   
}
.button.port{
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--button-bg-color);
    letter-spacing: 0.03em;
    height: 38px;
    left: 593px;
    top: 174px;
    
    padding: 6px 22px;
    
    border-radius: 4px;
}
.button.port.active:hover,
.button.port.active:focus,
.button.port:hover,
.button.port:focus{
    color: var(--primary-bg-color);
    background-color: var(--active-link-color);
}


.port-photo{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.port-photo > .item{
    flex-basis: calc(100% / 3 - var(--card-set-gap));
   
    
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
.port-photo > .item:nth-child(3n + 1) {
    margin-left: 0;
   
  }
  .port-photo > .item:nth-child(-n + 3) {
    margin-top: 0;
  }


   
.portfolio{
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;
    color: var(--title-text-color);

}

.name{
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
}
.card-content{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}